doctype html
head(lang='en')
  meta(charset='utf-8')
  link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css", rel="stylesheet", integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT", crossorigin="anonymous")
  link(href="css/style.css", rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

body
  .navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='https://dreamer20.github.io/open_weather/') Open weather
      p.navbar-text Weather forecast
  .container.pb-20
    .row
      .col-md-4.col-md-offset-4
        .input-group
          input#inputSearch.form-control(type='text', placeholder='Enter a city name')
          span.input-group-btn
            button#btnSearch.btn.btn-default(type='button') Search
    .row.mg-top-21.results
  script(src='js/jquery-3.2.1.min.js')
  script(src='js/Chart.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/loader.js')
  script(src='js/my_weather.js')
